@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@font-face {
    font-family: 'Tilda Sans VF';
    src: url('../Fonts/TildaSans-VF.ttf');
}

* {
    font-family: 'Tilda Sans VF', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

nav header main {
    background-color: #FFFFFF;
}

/* NAVIGATION */
.nav__logo {
    width: 39px;
    height: 49px;
}


.nav__group {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 33px;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__item-link {
    margin: 0 20px;
    font-size: 18px;
    border-bottom: solid 3px #FFFFFF;
    transition: border-bottom-color 0.4s ease-in-out;
}

.nav__item-link:hover {
    border-bottom: solid 3px #00428C;
}

.nav__item-phone {
    display: flex;
    align-items: center;
}

.nav__item-phone img {
    width: 24px;
    height: 24px;
}

.nav__item-link-active {
    margin: 0 20px;
    font-size: 18px;
    border-bottom: solid 3px #00428C;
}


/* HEADER */
header {
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: 220px;
    height: 645px;
    color: #FFFFFF;
    background-position: center bottom;
}

.header_background-main {
    background-image: url('../img/image_bckg_1.png');
}

.header_background-about {
    background-image: url('../img/about_bckg.jpg');
}

.header_background-sale {
    background-image: url('../img/sale_bckg.jpg');
}

.header__info {
    width: 970px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.header__info h1 {
    font-size: 48px;
}

.header__info h3 {
    margin-top: 20px;
    font-size: 16px;
}


/* FOOTER */
footer {
    background-color: #FAFBFD;
    height: 640px;
}

.footer__info {
    display: grid;
    grid-template-rows: 255px 185px 200px;
    margin: 0 auto;
    width: 1120px;
}

.footer__links {
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 0.6fr;

}

.footer__links a {
    display: flex;
    align-items: center;
    color: #756F6F;
    font-size: 24px;
    transition: color 0.2s ease-in-out;
}

.footer__links a:hover {
    color: #00428C;
}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px 70px;
}

.footer__contacts-item {
    display: flex;
    flex-flow: column;
}

.footer__contacts-item h3 {
    font-family: 'Tilda Sans VF', sans-serif;
    font-size: 24px;
}

.footer__contacts-item p {
    color: #827777;
    font-size: 24px;
}

.footer__contacts-item a {
    font-size: 15px;
    margin-top: 15px;
}

.footer__contacts-social {
    display: flex;
    align-items: center;
}

.footer__contacts-social a {
    padding-left: 25px;
}

.footer__copyright {
    padding: 40px 0;
}

.footer__copyright-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__copyright-links a {
    text-decoration: underline;
}

.button {
    width: fit-content;
    color: #FFFFFF;
    padding: 6px 25px;
    border-radius: 5px;
    border: 1px solid #00428C;
    background-color: #00428C;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #FFFFFF;
    color: #00428C;
}