.range {
    --range-track-top: 70px;
    --range-output-left: calc(var(--value) * 1%);
    --range-output-offset-xy: calc(var(--value) * -1%), 0;
}

.range-label {
    margin-block-end: 40px;
}

.track {
    position: absolute;
    top: var(--range-track-top);
}

.progress {
    position: absolute;
    top: var(--range-track-top);
    width: calc(var(--value) * 1%);
}

.range-output {
    position: absolute;
    bottom: 40px;
    left: var(--range-output-left);
    padding: 0 4px;
    background: transparent;
    border-radius: 10px;
    font-size: 18px;
    text-align: end;
    transform: translate(var(--range-output-offset-xy));
    user-select: none;
    transition: 300ms;
}

.range {
    gap: 8px;
    height: 65px;
    overflow: hidden;
}

.range-input {
    height: 20px;
}
